* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    width: 100%;
    height: 100%;
    display: inline-block;
}

#name {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 1.5em;
    color: white;
}

#container {
    display: inline-block;
    float: right;
}

#container ul {
   display: flex;
   justify-items: right;
   float: right;
}

#container li {
    display: inline-block;
    text-decoration: none;
    margin: 10px;
    color: white;
    float: right;
}

#container a {
    display: block;
    position: relative;
    font-size: 1.4em;
    margin: 10px;
    text-decoration: none;
    color: white;
}



#container a:hover {
    transition: 1s;
    background-color: rgb(255, 255, 255);
    color: black;
}

#fundo {
    display: inline-block;
    width: 100%;
    height: 80%;
}

#fundo01 img {
    width: 100%;
    height: 80%;
}

#eu img {
    position: absolute;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 300px;
    margin-left: 800px;
}

#eu h1 {
    position: absolute;
    margin: 480px;
    margin-left: 600px;
    color: white;
}