* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(8, 8, 41);;
}

header {
    background-color: rgb(8, 8, 41);
    width: 100%;
    height: 100%;
    display: inline-block;
}

#name {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 1.5em;
    color: white;
}

#container {
    display: inline-block;
    float: right;
}

#container ul {
   display: flex;
   justify-items: right;
   float: right;
}

#container li {
    display: inline-block;
    text-decoration: none;
    margin: 10px;
    color: white;
    float: right;
}

#container a {
    display: block;
    position: relative;
    font-size: 1.4em;
    margin: 10px;
    text-decoration: none;
    color: white;
}



#container a:hover {
    transition: 1s;
    background-color: rgb(255, 255, 255);
    color: black;
}

#fundo {
    display: inline-block;
    width: 100%;
    height: 80%;
}

#fundo01 img {
    width: 100%;
    height: 80%;
    max-height: 700px;
}

#eu img {
    position: absolute;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 300px;
    margin-left: 800px;
}

#eu h1 {
    position: absolute;
    margin: 480px;
    margin-left: 600px;
    color: white;
}

#habilidade01 {
    background-color: rgb(8, 8, 41);
}

#habilidade {
    display: inline-block;
    display: flex;
    margin-top: -140px;
    margin-left: 220px;
    text-align: center;
}

.conhecimento {
    background-color: white;
    padding: 20px;
    margin: 40px;
    width: 550px;
    height: 690px;
    transition: 0.3s;
}

.conhecimento h1 {
    background-color: rgb(8, 8, 41);
    color: white;
    padding: 30px;
    margin: -20px;
}

.conhecimento h2 {
    padding-top: 50px;
    margin: 20px;
}
.conhecimento p {
    padding: 20px;
}

#liguagens p {
    padding: 50px;
}

.formaçao {
    background-color: white;
    padding-top: 40px;
    padding: 20px;
    margin: 40px;
    width: 550px;
    height: 690px;
   transition: 0.3s;
}

.formaçao h1 {
    background-color: rgb(8, 8, 41);
    color: white;
    padding: 30px;
    margin: -20px;
}

.formaçao h2 {
    padding-top: 50px;
    margin: 20px;
}
.formaçao p {
    padding: 50px;
}




.conhecimento:hover {
    transition: .3s;
    border: 5px solid rgba(0, 0, 255, 0.697);
    width: 600px;
    height: 740px;
    font-size: 1.3em;
}

.conhecimento h1:hover {
    margin: -22px;
}

.formaçao:hover  {
    transition: .3s;
    border: 5px solid rgba(0, 0, 255, 0.697);
    width: 600px;
    height: 740px;
    font-size: 1.3em;
}

.formaçao h1:hover {
    margin: -22px;
}

#projetos h1 {
    font-size: 3em;
    color: white;
    text-align: center;
    padding-top: 50px;
}

#quadro iframe {
    margin-left: 300px;
    margin-top: 80px;
    padding-left: 300px;
    width: 950px;
    height: 670px;
}










@media (max-width: 850px) {
    #eu img {
        text-align: center;
        padding-left: 280px;
        margin: 50px;
        border-radius: 1%;
    }
    #eu h1 {
        margin: 220px;
        margin-left: 260px;
    }
}